In [248]:
import pandas as pd
import numpy as np

match_files = ["Data/test.csv", "Data/odi.csv", "Data/t20.csv"]
combined = ["Data/aggregated_test.csv", "Data/aggregated_odi.csv", "Data/aggregated_t20.csv"]

In [249]:
import pandas as pd
import numpy as np

combined_files = ["Data/aggregated_test.csv", "Data/aggregated_odi.csv", "Data/aggregated_t20.csv"]

for file in combined_files:

    df = pd.read_csv(file)
    df.replace([np.inf, -np.inf], 0, inplace=True)

    # Ensure required columns exist
    for col in ['Career_Batting_Average', 'Total_Wickets', 'Total_Fielding_Dismissals', 'Matches_Played']:
        if col not in df.columns:
            df[col] = 0

    # Compute dismissal rate per match
    df['Dismissals_Per_Match'] = df['Total_Fielding_Dismissals'] / df['Matches_Played'].replace(0, 1)

    # Vectorized role assignment with Wicketkeeper first
    conditions = [
        (df['Dismissals_Per_Match'] > 3),  # Wicketkeeper
        (df['Career_Batting_Average'] > 30) & (df['Total_Wickets'] > 10),  # Allrounder
        (df['Career_Batting_Average'] > 30) & (df['Total_Wickets'] <= 10),  # Batsman
        (df['Career_Batting_Average'] <= 30) & (df['Total_Wickets'] > 10)  # Bowler
    ]
    choices = ['Wicketkeeper', 'Allrounder', 'Batsman', 'Bowler']

    df['Predicted_Role'] = np.select(conditions, choices, default='Batsman')  # fallback Batsman

    # Save updated CSV
    df.to_csv(file, index=False)
    display(df.head())
    print(f"Guessed roles saved to {file}")

,Player,Matches_Played,Country,Start,End,Total_Runs,Total_Dismissals,Career_Batting_Average,Total_Balls_Faced,Career_Strike_Rate,...,Total_Runs_Conceded,Overs_Bowled,Career_Economy,Total_Fielding_Dismissals,Impact_Score,Stumpings,Catches_WK,WK_Wickets,Predicted_Role,Dismissals_Per_Match
0,RA Jadeja,16,India,2012-12-13,2015-12-03,473,22,21.50,762,68.640000,...,1616,711.5,2.362500,14,1.452,0,0,0,Bowler,0.875000
1,R Ashwin,32,India,2011-12-26,2015-12-03,1204,38,31.68,2012,54.553125,...,4470,1537.3,2.949375,10,1.429,0,0,0,Allrounder,0.312500
2,Yasir Shah,16,Pakistan,2014-10-22,2016-08-11,228,19,12.00,461,42.163125,...,2611,851.7,3.101250,12,1.344,0,0,0,Bowler,0.750000
3,SK Warne,20,Australia,2004-03-08,2007-01-02,465,22,21.14,699,62.536500,...,2591,881.0,2.969000,15,1.322,0,0,0,Bowler,0.750000
4,M Muralitharan,38,Sri Lanka,2003-12-18,2010-07-18,275,31,8.87,350,48.621053,...,5552,1990.3,2.877895,11,1.321,0,0,0,Bowler,0.289474

Guessed roles saved to Data/aggregated_test.csv

,Player,Matches_Played,Country,Start,End,Total_Runs,Total_Dismissals,Career_Batting_Average,Total_Balls_Faced,Career_Strike_Rate,...,Total_Runs_Conceded,Overs_Bowled,Career_Economy,Total_Fielding_Dismissals,Impact_Score,Stumpings,Catches_WK,WK_Wickets,Predicted_Role,Dismissals_Per_Match
0,AE Satterthwaite,15,New Zealand,2012-12-12,2016-10-24,858,14,61.29,978,78.217333,...,258,65.8,3.068667,9,1.584,0,0,0,Batsman,0.600000
1,EA Perry,19,Australia,2009-06-29,2016-02-22,909,11,82.64,1105,77.270526,...,724,159.2,4.654737,5,1.466,0,0,0,Allrounder,0.263158
2,T Chetty,20,South Africa,2007-01-22,2016-08-11,717,16,44.81,1017,62.610500,...,0,0.0,0.000000,35,1.450,0,0,0,Batsman,1.750000
3,Soumya Sarkar,15,Bangladesh,2015-02-26,2015-06-24,664,12,55.33,646,102.506000,...,19,4.0,0.316667,12,1.409,0,0,0,Batsman,0.800000
4,MM Lanning,23,Australia,2012-12-12,2016-02-22,1215,19,63.95,1252,85.632174,...,44,7.0,0.529130,15,1.402,0,0,0,Batsman,0.652174

Guessed roles saved to Data/aggregated_odi.csv

,Player,Matches_Played,Country,Start,End,Total_Runs,Total_Dismissals,Career_Batting_Average,Total_Balls_Faced,Career_Strike_Rate,...,Total_Runs_Conceded,Overs_Bowled,Career_Economy,Total_Fielding_Dismissals,Impact_Score,Stumpings,Catches_WK,WK_Wickets,Predicted_Role,Dismissals_Per_Match
0,SFM Devine,15,New Zealand,2009-06-18,2016-03-31,387,13,29.77,331,115.526000,...,253,42.3,5.477333,11,1.609,0,0,0,Bowler,0.733333
1,SR Taylor,27,West Indies,2010-05-14,2016-04-03,923,26,35.50,876,100.802963,...,394,70.0,4.435185,7,1.498,0,0,0,Allrounder,0.259259
2,SJ Taylor,42,England,2009-06-19,2016-03-30,1122,35,32.06,992,97.044762,...,0,0.0,0.000000,51,1.481,0,0,0,Batsman,1.214286
3,DJS Dottin,33,West Indies,2010-05-14,2016-04-03,809,25,32.36,660,112.768182,...,268,40.0,3.575758,19,1.440,0,0,0,Allrounder,0.575758
4,SW Bates,20,New Zealand,2009-06-18,2016-03-31,576,19,30.32,509,102.401500,...,212,31.0,5.458500,12,1.372,0,0,0,Batsman,0.600000

Guessed roles saved to Data/aggregated_t20.csv

In [250]:
def final_score(row, match_format):
    role = row['Predicted_Role']
    row['Career_Economy'] += 0.000001

    if match_format == 'T20':
        if role == 'Batsman':
            return 0.4*row['Impact_Score'] + 0.4*row['Career_Batting_Average'] + 0.2*row['Career_Strike_Rate']
        elif role == 'Bowler':
            return 0.4*row['Impact_Score'] + 0.4*row['Total_Wickets'] + 0.2*(1/row['Career_Economy'])
        elif role == 'Allrounder':
            batting = 0.4*row['Career_Batting_Average'] + 0.2*row['Career_Strike_Rate']
            bowling = 0.4*row['Total_Wickets'] + 0.2*(1/row['Career_Economy'])
            return 0.3*row['Impact_Score'] + 0.35*batting + 0.35*bowling
        elif role == 'Wicketkeeper':
            dismissals = row['Total_Fielding_Dismissals']
            return 0.3*row['Impact_Score'] + 0.5*row['Career_Batting_Average'] + 0.2*dismissals

    elif match_format == 'ODI':
        if role == 'Batsman':
            return 0.5*row['Impact_Score'] + 0.3*row['Career_Batting_Average'] + 0.2*row['Career_Strike_Rate']
        elif role == 'Bowler':
            return 0.5*row['Impact_Score'] + 0.3*row['Total_Wickets'] + 0.2*(1/row['Career_Economy'])
        elif role == 'Allrounder':
            batting = 0.5*row['Career_Batting_Average'] + 0.2*row['Career_Strike_Rate']
            bowling = 0.5*row['Total_Wickets'] + 0.2*(1/row['Career_Economy'])
            return 0.3*row['Impact_Score'] + 0.35*batting + 0.35*bowling
        elif role == 'Wicketkeeper':
            dismissals = row['Total_Fielding_Dismissals']
            return 0.4*row['Impact_Score'] + 0.4*row['Career_Batting_Average'] + 0.2*dismissals

    elif match_format == 'Test':
        if role == 'Batsman':
            return 0.6*row['Impact_Score'] + 0.4*row['Career_Batting_Average']  # Strike rate less important
        elif role == 'Bowler':
            return 0.6*row['Impact_Score'] + 0.4*row['Total_Wickets']  # Economy less important
        elif role == 'Allrounder':
            batting = 0.5*row['Career_Batting_Average']
            bowling = 0.5*row['Total_Wickets']
            return 0.3*row['Impact_Score'] + 0.35*batting + 0.35*bowling
        elif role == 'Wicketkeeper':
            dismissals = row['Total_Fielding_Dismissals']/row['Matches_Played']
            return 0.5*row['Impact_Score'] + 0.4*row['Career_Batting_Average'] + 0.1*dismissals

    else:
        return row['Impact_Score']  # fallback

In [251]:
import pandas as pd

def select_best_XI(file, match_format, country='all', timeframe='all', num_roles=None):

    if num_roles is None:
        num_roles = {'Batsman': 5, 'Allrounder': 1, 'Wicketkeeper': 1, 'Bowler': 4}

    # 1. Load dataset
    df = pd.read_csv(file)
    df.replace([np.inf, -np.inf], 0, inplace=True)

    # 2. Filter by country if not 'all'
    if country != 'all':
        df = df[df['Country'] == country]

    # 3. Filter by timeframe if not 'all'
    if timeframe != 'all' and 'Year' in df.columns:
        start_year, end_year = timeframe
        df = df[(df['Year'] >= start_year) & (df['Year'] <= end_year)]

    # 4. Compute Final Score based on role & format
    df['Final_Score'] = df.apply(lambda row: final_score(row, match_format), axis=1)

    # 5. Sort by Final Score
    df = df.sort_values(by='Final_Score', ascending=False)

    # 6. Select top players per role
    best_XI_list = []
    for role, n in num_roles.items():
        best_XI_list.append(df[df['Predicted_Role'] == role].head(n))

    best_XI = pd.concat(best_XI_list).reset_index(drop=True)


    # 8. Display result
    print(f"Best XI for {match_format}, Country: {country}, Timeframe: {timeframe}")
    display(best_XI)

    return best_XI

In [252]:
combined = ["Data/aggregated_test.csv", "Data/aggregated_odi.csv", "Data/aggregated_t20.csv"]
num_roles = {'Batsman': 4, 'Allrounder': 2, 'Wicketkeeper': 1, 'Bowler': 4}

best_XI = select_best_XI(
    file=combined[1],
    match_format="ODI",
    country="all",
    timeframe='all',
    num_roles=num_roles
)

Best XI for ODI, Country: all, Timeframe: all

,Player,Matches_Played,Country,Start,End,Total_Runs,Total_Dismissals,Career_Batting_Average,Total_Balls_Faced,Career_Strike_Rate,...,Overs_Bowled,Career_Economy,Total_Fielding_Dismissals,Impact_Score,Stumpings,Catches_WK,WK_Wickets,Predicted_Role,Dismissals_Per_Match,Final_Score
0,Soumya Sarkar,15,Bangladesh,2015-02-26,2015-06-24,664,12,55.33,646,102.506000,...,4.0,0.316667,12,1.409,0,0,0,Batsman,0.800000,37.804700
1,MM Lanning,23,Australia,2012-12-12,2016-02-22,1215,19,63.95,1252,85.632174,...,7.0,0.529130,15,1.402,0,0,0,Batsman,0.652174,37.012435
2,M Raj,15,India,2008-05-08,2016-02-07,617,8,77.12,839,63.286000,...,0.0,0.000000,6,1.276,0,0,0,Batsman,0.400000,36.431200
3,AB de Villiers,198,South Africa,2005-02-02,2017-02-10,8771,158,55.51,8646,93.187222,...,32.0,0.289596,209,1.245,0,0,0,Batsman,1.055556,35.912944
4,Shakib Al Hasan,132,Bangladesh,2007-03-17,2015-11-07,3816,108,35.33,4643,73.438409,...,1118.3,4.661515,34,1.106,0,0,0,Allrounder,0.257576,39.670255
5,SR Watson,153,Australia,2004-05-29,2015-01-16,5357,121,44.27,5771,83.001765,...,902.5,4.412549,59,1.160,0,0,0,Allrounder,0.385621,39.471237
6,SL Malinga,159,Unknown Team,2004-08-31,2015-11-07,421,56,7.52,546,37.355660,...,1329.3,5.087044,35,0.923,0,0,0,Bowler,0.220126,84.200816
7,B Lee,146,Australia,2003-05-17,2012-03-25,865,48,18.02,1034,41.430822,...,1228.2,4.723219,44,1.008,0,0,0,Bowler,0.301370,77.646344
8,JM Anderson,150,England,2003-11-07,2015-02-01,254,30,8.47,470,20.460067,...,1288.5,4.955067,61,0.886,0,0,0,Bowler,0.406667,75.483363
9,MG Johnson,135,Australia,2006-04-23,2015-02-01,934,59,15.83,951,63.088667,...,1122.8,4.707185,36,1.014,0,0,0,Bowler,0.266667,68.349488

In [253]:
import pandas as pd
import numpy as np
from tabulate import tabulate

combined_files = {
    "Test": "Data/aggregated_test.csv",
    "ODI": "Data/aggregated_odi.csv",
    "T20": "Data/aggregated_t20.csv"
}

match_files = {
    "Test": "Data/test.csv",
    "ODI": "Data/odi.csv",
    "T20": "Data/t20.csv"
}

cols = pd.read_csv("Data/test.csv")
print(cols.columns)

def find_player(player_name, country='all', timeframe='all', formats=None):
    if formats is None:
        formats = ['Test', 'ODI', 'T20']

    player_records = []
    match_records = []

    for fmt in formats:
        # --- Aggregated stats ---
        df_agg = pd.read_csv(combined_files.get(fmt))
        df_agg.replace([np.inf, -np.inf], 0, inplace=True)

        df_player_agg = df_agg[df_agg['Player'].str.lower() == player_name.lower()].copy()
        if country != 'all':
            df_player_agg = df_player_agg[df_player_agg['Country'] == country].copy()
        if timeframe != 'all' and 'Year' in df_player_agg.columns:
            start_year, end_year = timeframe
            df_player_agg = df_player_agg[(df_player_agg['Year'] >= start_year) &
                                          (df_player_agg['Year'] <= end_year)].copy()
        if not df_player_agg.empty:
            df_player_agg['Final_Score'] = df_player_agg.apply(lambda row: final_score(row, fmt), axis=1)
            df_player_agg['Format'] = fmt
            player_records.append(df_player_agg)

        # --- Match performances ---
        df_match = pd.read_csv(match_files.get(fmt))
        df_match.replace([np.inf, -np.inf], 0, inplace=True)

        df_player_match = df_match[df_match['Player'].str.lower() == player_name.lower()].copy()
        if country != 'all' and 'Country' in df_player_match.columns:
            df_player_match = df_player_match[df_player_match['Country'] == country].copy()
        if timeframe != 'all' and 'Year' in df_player_match.columns:
            start_year, end_year = timeframe
            df_player_match = df_player_match[(df_player_match['Year'] >= start_year) &
                                              (df_player_match['Year'] <= end_year)].copy()
        if not df_player_match.empty:
            df_player_match['Format'] = fmt
            match_records.append(df_player_match)

    # Combine results
    results = {}
    results['Aggregated'] = pd.concat(player_records).reset_index(drop=True) if player_records else pd.DataFrame()
    if match_records:
        df_matches = pd.concat(match_records).reset_index(drop=True)
        if 'Impact_Score' in df_matches.columns:
            df_matches = df_matches.sort_values(by='Impact_Score', ascending=False).head(10)
        results['Matches'] = df_matches
    else:
        results['Matches'] = pd.DataFrame()

    return results

Index(['Match ID', 'Venue', 'Team', 'Date', 'Opponent', 'Player',
       'MoM Awarded', 'Runs', 'Balls Faced', 'Dismissals',
       'Batting Average (Match)', 'Strike Rate', 'Wickets', 'Runs Off Bowling',
       'Balls Bowled', 'Economy', 'Fielding Dismissals', 'Base Impact Score',
       'Batting Component', 'Bowling Component', 'Fielding Component', 'VBF',
       'VBoF', 'Scaled Batting Component', 'Scaled Bowling Component',
       'Scaled Fielding Component', 'Venue Scaled Impact Score',
       'Opponent Team', 'Opponent Strength (Elo)', 'Elo Weighting Factor',
       'Weighted Impact Score'],
      dtype='object')

In [254]:
player_stats = find_player(
    player_name="BB McCullum",
    country='all',
    timeframe='all',
    formats=None
)

display(player_stats)

{'Aggregated':         Player  Matches_Played      Country       Start         End  \
 0  BB McCullum              89  New Zealand  2004-03-18  2016-02-20
 1  BB McCullum             197  New Zealand  2002-12-29  2016-02-08
 2  BB McCullum              68  New Zealand  2005-02-17  2015-06-23

    Total_Runs  Total_Dismissals  Career_Batting_Average  Total_Balls_Faced  \
 0        5778               149                   38.78               8647
 1        5157               159                   32.43               5206
 2        2145                55                   39.00               1517

    Career_Strike_Rate  ...  Career_Economy  Total_Fielding_Dismissals  \
 0           68.020112  ...        0.230112                        179
 1           93.013959  ...        0.000000                        260
 2          131.706765  ...        0.000000                         57

    Impact_Score  Stumpings  Catches_WK  WK_Wickets  Predicted_Role  \
 0         1.120          0           0           0         Batsman
 1         1.085          0           0           0         Batsman
 2         1.241          0           0           0         Batsman

    Dismissals_Per_Match  Final_Score Format
 0              2.011236    16.184000   Test
 1              1.319797    28.874292    ODI
 2              0.838235    42.437753    T20

 [3 rows x 23 columns],
 'Matches':      Match ID                          Venue         Team        Date  \
 0       64075                      Eden Park  New Zealand  2004-03-18
 1       64076      Basin Reserve, Wellington  New Zealand  2004-03-26
 2       64104                MA Aziz Stadium  New Zealand  2004-10-26
 3       64107        Brisbane Cricket Ground  New Zealand  2004-11-18
 4       64108                  Adelaide Oval  New Zealand  2004-11-26
 ..        ...                            ...          ...         ...
 349    682931  Zahur Ahmed Chowdhury Stadium  New Zealand  2014-03-24
 350    682945  Zahur Ahmed Chowdhury Stadium  New Zealand  2014-03-29
 351    730283           Windsor Park, Roseau  New Zealand  2014-07-05
 352    730285           Windsor Park, Roseau  New Zealand  2014-07-06
 353    743953                   Old Trafford  New Zealand  2015-06-23

          Opponent       Player  MoM Awarded  Runs  Balls Faced  Dismissals  \
 0    South Africa  BB McCullum            0    13           34           1
 1    South Africa  BB McCullum            0    58          130           2
 2      Bangladesh  BB McCullum            0    17           16           0
 3       Australia  BB McCullum            0    18           28           2
 4       Australia  BB McCullum            0    46           76           2
 ..            ...          ...          ...   ...          ...         ...
 349  South Africa  BB McCullum            0     4            4           1
 350   Netherlands  BB McCullum            1    65           44           1
 351   West Indies  BB McCullum            0    40           35           1
 352   West Indies  BB McCullum            0    21           16           1
 353       England  BB McCullum            0    35           14           1

      ...      VBoF  Scaled Batting Component  Scaled Bowling Component  \
 0    ...  1.000000                     0.142                     0.300
 1    ...  1.000000                     0.303                     0.300
 2    ...  1.000000                     0.296                     0.300
 3    ...  1.000000                     0.302                     0.300
 4    ...  1.006279                     0.293                     0.302
 ..   ...       ...                       ...                       ...
 349  ...  0.933150                     0.184                     0.280
 350  ...  0.933150                     0.950                     0.280
 351  ...  1.000000                     0.676                     0.300
 352  ...  1.000000                     0.355                     0.300
 353  ...  1.090558                     0.692                     0.327

      Scaled Fielding Component  Venue Scaled Impact Score  Opponent Team  \
 0                         1.00                      0.992   South Africa
 1                         0.75                      1.053   South Africa
 2                         0.40                      0.906     Bangladesh
 3                         0.20                      0.832      Australia
 4                         0.50                      0.946      Australia
 ..                         ...                        ...            ...
 349                       0.00                      0.604   South Africa
 350                       0.00                      2.370    Netherlands
 351                       0.00                      1.126    West Indies
 352                       0.00                      0.805    West Indies
 353                       0.50                      1.382        England

      Opponent Strength (Elo)  Elo Weighting Factor  Weighted Impact Score  \
 0                    1508.21              1.005473                  0.997
 1                    1497.98              0.998653                  1.052
 2                    1461.82              0.974547                  0.883
 3                    1516.99              1.011327                  0.841
 4                    1526.75              1.017833                  0.963
 ..                       ...                   ...                    ...
 349                  1528.20              1.018800                  0.615
 350                  1481.05              0.987367                  2.340
 351                  1556.91              1.037940                  1.169
 352                  1546.80              1.031200                  0.830
 353                  1571.93              1.047953                  1.448

      Format
 0      Test
 1      Test
 2      Test
 3      Test
 4      Test
 ..      ...
 349     T20
 350     T20
 351     T20
 352     T20
 353     T20

 [354 rows x 32 columns]}

In [273]:
def match_scorecard(match_format, timeframe='all', team1=None, team2=None):
    """
    Returns a match scorecard for a given match format and timeframe,
    optionally filtering by two teams (both must be present in the match).

    Parameters:
    - match_format: 'Test', 'ODI', or 'T20'
    - timeframe: 'all' or a tuple of ('YYYY-MM-DD', 'YYYY-MM-DD') for start and end date
    - team1: optional, first team
    - team2: optional, second team

    Returns:
    - pandas DataFrame sorted by Date, then Venue, then Team
    """
    # Load match data
    df_match = pd.read_csv(match_files.get(match_format))
    df_match.replace([np.inf, -np.inf], 0, inplace=True)

    # Convert Date to datetime
    df_match['Date'] = pd.to_datetime(df_match['Date'])

    # Filter by timeframe
    if timeframe != 'all':
        start_date, end_date = timeframe
        df_scorecard = df_match[(df_match['Date'] >= pd.to_datetime(start_date)) &
                                (df_match['Date'] <= pd.to_datetime(end_date))].copy()
    else:
        df_scorecard = df_match.copy()

    # Filter matches where both teams are present
    if team1 and team2:
        df_scorecard = df_scorecard[((df_scorecard['Team'] == team1) & (df_scorecard['Opponent'] == team2)) |
                                    ((df_scorecard['Team'] == team2) & (df_scorecard['Opponent'] == team1))].copy()
    elif team1:
        df_scorecard = df_scorecard[df_scorecard['Team'] == team1].copy()
    elif team2:
        df_scorecard = df_scorecard[df_scorecard['Team'] == team2].copy()

    if df_scorecard.empty:
        print(f"No matches found for {match_format} with the specified teams/timeframe")
        return pd.DataFrame()

    # Sort by Date ascending, then Venue alphabetically, then Team alphabetically
    df_scorecard = df_scorecard.sort_values(by=['Date', 'Venue', 'Team'], ascending=[True, True, True])

    # Select key columns for concise scorecard
    cols_to_show = [
        'Player', 'Date', 'Team', 'Opponent', 'Venue', 'MoM Awarded',
        'Runs', 'Balls Faced', 'Dismissals', 'Batting Average (Match)',
        'Strike Rate', 'Wickets', 'Balls Bowled', 'Economy',
        'Fielding Dismissals', 'Weighted Impact Score'
    ]
    df_scorecard = df_scorecard[[c for c in cols_to_show if c in df_scorecard.columns]]

    return df_scorecard.reset_index(drop=True)

In [274]:
# T20 matches between India and Australia from June to August 2023
scorecard = match_scorecard(
    'T20',
    timeframe=('2000-06-01', '2009-08-31'),
    team1='India',
    team2='Australia'
)
display(scorecard)

,Player,Date,Team,Opponent,Venue,MoM Awarded,Runs,Balls Faced,Dismissals,Batting Average (Match),Strike Rate,Wickets,Balls Bowled,Economy,Fielding Dismissals,Weighted Impact Score
0,AC Gilchrist,2007-09-22,Australia,India,Kingsmead,0,22,13,1,22.0,169.23,0,0,0.00,2,1.188
1,MG Johnson,2007-09-22,Australia,India,Kingsmead,0,4,1,0,4.0,400.00,2,24,7.75,0,1.629
2,A Symonds,2007-09-22,Australia,India,Kingsmead,0,43,26,1,43.0,165.38,0,18,12.33,1,0.923
3,ML Hayden,2007-09-22,Australia,India,Kingsmead,0,62,44,1,62.0,140.91,0,0,0.00,0,1.160
4,MEK Hussey,2007-09-22,Australia,India,Kingsmead,0,13,12,1,13.0,108.33,0,0,0.00,1,0.851
5,BJ Hodge,2007-09-22,Australia,India,Kingsmead,0,11,10,1,11.0,110.00,0,0,0.00,1,0.832
6,MJ Clarke,2007-09-22,Australia,India,Kingsmead,0,3,3,1,3.0,100.00,1,6,13.00,0,0.768
7,BJ Haddin,2007-09-22,Australia,India,Kingsmead,0,5,7,0,5.0,71.43,0,0,0.00,0,0.541
8,B Lee,2007-09-22,Australia,India,Kingsmead,0,2,2,1,2.0,100.00,0,24,6.25,0,0.395
9,Yuvraj Singh,2007-09-22,India,Australia,Kingsmead,1,70,30,1,70.0,233.33,0,0,0.00,1,2.524
10,Joginder Sharma,2007-09-22,India,Australia,Kingsmead,0,0,0,0,0.0,0.00,2,18,12.33,1,1.391
11,S Sreesanth,2007-09-22,India,Australia,Kingsmead,0,0,0,0,0.0,0.00,2,24,3.00,0,1.395
12,IK Pathan,2007-09-22,India,Australia,Kingsmead,0,0,0,0,0.0,0.00,2,24,11.00,0,1.218
13,MS Dhoni,2007-09-22,India,Australia,Kingsmead,0,36,18,0,36.0,200.00,0,0,0.00,0,0.945
14,RV Uthappa,2007-09-22,India,Australia,Kingsmead,0,34,27,1,34.0,125.93,0,0,0.00,0,0.870
15,G Gambhir,2007-09-22,India,Australia,Kingsmead,0,24,25,1,24.0,96.00,0,0,0.00,0,0.748
16,Harbhajan Singh,2007-09-22,India,Australia,Kingsmead,0,0,0,0,0.0,0.00,1,24,6.00,0,0.817
17,RG Sharma,2007-09-22,India,Australia,Kingsmead,0,8,5,1,8.0,160.00,0,0,0.00,0,0.636
18,V Sehwag,2007-09-22,India,Australia,Kingsmead,0,9,12,1,9.0,75.00,0,6,20.00,0,0.146
19,AC Gilchrist,2007-10-20,Australia,India,Brabourne Stadium,0,12,5,1,12.0,240.00,0,0,0.00,2,1.295
20,RT Ponting,2007-10-20,Australia,India,Brabourne Stadium,0,76,52,2,38.0,146.15,0,0,0.00,1,1.575
21,MJ Clarke,2007-10-20,Australia,India,Brabourne Stadium,0,25,15,0,25.0,166.67,1,12,7.00,0,1.160
22,ML Hayden,2007-10-20,Australia,India,Brabourne Stadium,0,17,19,1,17.0,89.47,0,0,0.00,0,0.738
23,BJ Haddin,2007-10-20,Australia,India,Brabourne Stadium,0,5,4,0,5.0,125.00,0,0,0.00,0,0.670
24,BW Hilfenhaus,2007-10-20,Australia,India,Brabourne Stadium,0,0,0,0,0.0,0.00,1,24,7.00,0,0.709
25,A Symonds,2007-10-20,Australia,India,Brabourne Stadium,0,20,17,0,20.0,117.65,0,18,8.67,0,0.440
26,BJ Hodge,2007-10-20,Australia,India,Brabourne Stadium,0,2,6,1,2.0,33.33,0,0,0.00,0,0.524
27,B Lee,2007-10-20,Australia,India,Brabourne Stadium,0,0,0,0,0.0,0.00,1,19,11.05,0,0.539
28,Yuvraj Singh,2007-10-20,India,Australia,Brabourne Stadium,0,31,22,0,31.0,140.91,0,0,0.00,1,1.119
29,G Gambhir,2007-10-20,India,Australia,Brabourne Stadium,1,63,48,1,63.0,131.25,0,0,0.00,0,2.207
30,Harbhajan Singh,2007-10-20,India,Australia,Brabourne Stadium,0,0,0,0,0.0,0.00,1,24,4.25,1,1.008
31,RV Uthappa,2007-10-20,India,Australia,Brabourne Stadium,0,35,24,1,35.0,145.83,0,0,0.00,0,0.961
32,IK Pathan,2007-10-20,India,Australia,Brabourne Stadium,0,0,0,0,0.0,0.00,2,24,8.50,0,1.161
33,MS Dhoni,2007-10-20,India,Australia,Brabourne Stadium,0,9,5,0,9.0,180.00,0,0,0.00,0,0.763
34,V Sehwag,2007-10-20,India,Australia,Brabourne Stadium,0,5,4,1,5.0,125.00,0,0,0.00,0,0.656
35,RP Singh,2007-10-20,India,Australia,Brabourne Stadium,0,0,0,0,0.0,0.00,1,24,9.75,0,0.582
36,MJ Clarke,2008-02-01,Australia,India,Melbourne Cricket Ground,1,37,36,0,37.0,102.78,0,0,0.00,2,2.893
37,AC Gilchrist,2008-02-01,Australia,India,Melbourne Cricket Ground,0,25,21,1,25.0,119.05,0,0,0.00,1,1.447
38,BJ Hodge,2008-02-01,Australia,India,Melbourne Cricket Ground,0,10,10,0,10.0,100.00,0,0,0.00,1,1.104
39,AC Voges,2008-02-01,Australia,India,Melbourne Cricket Ground,0,0,0,0,0.0,0.00,2,12,2.50,1,1.279
40,JR Hopes,2008-02-01,Australia,India,Melbourne Cricket Ground,0,0,0,0,0.0,0.00,1,18,3.33,1,0.849
41,DJ Hussey,2008-02-01,Australia,India,Melbourne Cricket Ground,0,0,0,0,0.0,0.00,1,18,4.00,1,0.808
42,B Lee,2008-02-01,Australia,India,Melbourne Cricket Ground,0,0,0,0,0.0,0.00,1,18,4.33,1,0.786
43,NW Bracken,2008-02-01,Australia,India,Melbourne Cricket Ground,0,0,0,0,0.0,0.00,3,15,4.40,0,1.327
44,AA Noffke,2008-02-01,Australia,India,Melbourne Cricket Ground,0,0,0,0,0.0,0.00,1,24,5.75,0,0.489
45,G Gambhir,2008-02-01,India,Australia,Melbourne Cricket Ground,0,9,6,1,9.0,150.00,0,0,0.00,1,1.159
46,IK Pathan,2008-02-01,India,Australia,Melbourne Cricket Ground,0,26,30,1,26.0,86.67,0,18,6.00,0,0.783
47,RG Sharma,2008-02-01,India,Australia,Melbourne Cricket Ground,0,8,8,1,8.0,100.00,0,0,0.00,0,0.833
48,KD Karthik,2008-02-01,India,Australia,Melbourne Cricket Ground,0,8,8,1,8.0,100.00,0,0,0.00,0,0.833
49,MS Dhoni,2008-02-01,India,Australia,Melbourne Cricket Ground,0,9,27,1,9.0,33.33,0,0,0.00,0,0.715
50,P Kumar,2008-02-01,India,Australia,Melbourne Cricket Ground,0,6,10,1,6.0,60.00,1,12,7.50,0,0.608
51,RV Uthappa,2008-02-01,India,Australia,Melbourne Cricket Ground,0,1,3,1,1.0,33.33,0,0,0.00,0,0.558
52,Harbhajan Singh,2008-02-01,India,Australia,Melbourne Cricket Ground,0,1,3,1,1.0,33.33,0,12,3.50,0,0.339
53,I Sharma,2008-02-01,India,Australia,Melbourne Cricket Ground,0,3,6,0,3.0,50.00,0,8,6.00,0,0.257